# Ontario Outbreaks: Are Gyms a Significant Vector of Covid Transmission?

In [1]:
import pandas as pd

df = pd.read_csv('https://data.ontario.ca/datastore/dump/d5d8f478-765c-4246-b8a7-c3b13a4a1a41?bom=True')

In [2]:
df.head(3)

,_id,date,category_grouped,outbreak_subgroup,TOTAL_CASES
0,1,2020-03-06T00:00:00,2 Congregate Living,SHELTER,1
1,2,2020-03-08T00:00:00,1 Congregate Care,LONG-TERM CARE HOME,1
2,3,2020-03-09T00:00:00,4 Workplace,WORKPLACE - OTHER,1

In [3]:
df.groupby('outbreak_subgroup').sum().sort_values(by='TOTAL_CASES', ascending=False)

                                   _id  TOTAL_CASES
outbreak_subgroup
LONG-TERM CARE HOME            2365492        29999
WORKPLACE - OTHER              2613183        21503
SCHOOL - ELEMENTARY            1754742        10486
RETIREMENT HOME                1952252         8387
HOSPITAL                       2195347         7470
CHILD CARE                     2477381         5296
GROUP HOME/SUPPORTIVE HOUSING  2041200         4472
OTHER RECREATION               2374885         4387
WORKPLACE - FOOD PROCESSING    1593275         4021
SHELTER                        1822945         3284
WORKPLACE - FARM               1505211         3267
RETAIL                         2083063         2986
CORRECTIONAL FACILITY          1732700         2501
BAR/RESTAURANT/NIGHTCLUB       2279555         2469
SCHOOL - SECONDARY             1611898         2033
CONGREGATE OTHER               1697903         1913
RECREATIONAL FITNESS           1584866         1660
MEDICAL/HEALTH SERVICE         1483297          849
UNKNOWN                         966473          676
SCHOOL - ELEMENTARY/SECONDARY  1023789          507
SCHOOL - POST-SECONDARY         828481          464
SHORT-TERM ACCOMMODATIONS       874934          322
OTHER                           366672          291
PERSONAL SERVICE SETTINGS       367004          140
CAMP - DAY                      308506          111
OUT OF PROVINCE OUTBREAK        133469           50
CAMP - OVERNIGHT                 39682           11
CAMP - UNSPECIFIED               40198            6

In [4]:
1655/df.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum()

0.013842306437717986

# Of course, gyms have been shut down for a lot of the time during the pandemic. So I'd like to look at only periods in which gyms were open across the province.

## Do gyms really account for a large % of outbreak cases? Is the risk, as Bonnie Henry says, 'just higher' in gyms?

# Period 1: March 1st, 2020 to March 17th, 2020:

https://toronto.ctvnews.ca/ontario-declares-state-of-emergency-amid-covid-19-pandemic-1.4856033

In [5]:
df1 = df[(df['date'] > '2020-03-01') & (df['date'] <= '2020-03-17')]
df1

,_id,date,category_grouped,outbreak_subgroup,TOTAL_CASES
0,1,2020-03-06T00:00:00,2 Congregate Living,SHELTER,1
1,2,2020-03-08T00:00:00,1 Congregate Care,LONG-TERM CARE HOME,1
2,3,2020-03-09T00:00:00,4 Workplace,WORKPLACE - OTHER,1
3,4,2020-03-11T00:00:00,2 Congregate Living,GROUP HOME/SUPPORTIVE HOUSING,1
4,5,2020-03-13T00:00:00,1 Congregate Care,LONG-TERM CARE HOME,1
5,6,2020-03-14T00:00:00,4 Workplace,WORKPLACE - OTHER,1
6,7,2020-03-15T00:00:00,4 Workplace,WORKPLACE - OTHER,1

# Period 2: July 16th, 2020 to October 10th, 2020:


https://news.ontario.ca/en/release/1000501/ontario-moving-to-step-three-of-roadmap-to-reopen-on-july-16 

https://toronto.ctvnews.ca/ontario-shutting-down-indoor-dining-gyms-and-movie-theatres-in-three-covid-19-hotspots-1.5139458


## Gyms in Ottawa, Toronto, and Peel Region shut down on October 10th. These areas account for 38% of Ontario's population and 50% of Ontario's Covid cases throughout the pandemic. Gyms in these areas were shut down cause they were Ontario's 'hotspots' for Covid.

### Extending the analysis into a period of time in which non-hotspot area gyms were open, but hotspot area gyms were closed would bias the analysis in the direction of showing that there aren't a lot of outbreaks in gyms. That is, I'm framing this analysis such that I am attempting to steelman the argument that 'gyms are huge vectors for Covid transmission'.


#### Even in doing so, we still find that gyms do not represent a huge source of outbreak cases:

In [6]:
df2 = df[(df['date'] >= '2020-07-16') & (df['date'] <= '2020-10-09')].groupby('outbreak_subgroup').sum().sort_values(by='TOTAL_CASES', ascending=False)
df2

                                  _id  TOTAL_CASES
outbreak_subgroup
LONG-TERM CARE HOME             93373          631
WORKPLACE - OTHER              105112          472
RETIREMENT HOME                 75511          255
BAR/RESTAURANT/NIGHTCLUB        68932          230
WORKPLACE - FARM                37694          195
OTHER RECREATION                66952          178
CHILD CARE                      69634          147
SCHOOL - ELEMENTARY             38890          146
HOSPITAL                        44449          135
RECREATIONAL FITNESS            43620          112
GROUP HOME/SUPPORTIVE HOUSING   59153          103
WORKPLACE - FOOD PROCESSING     59373           98
UNKNOWN                         12302           70
RETAIL                          41767           52
SHELTER                         35224           38
SCHOOL - SECONDARY              32568           35
CONGREGATE OTHER                18420           26
MEDICAL/HEALTH SERVICE          21650           21
SCHOOL - ELEMENTARY/SECONDARY    9477            9
PERSONAL SERVICE SETTINGS       10185            7
SCHOOL - POST-SECONDARY          7818            6
SHORT-TERM ACCOMMODATIONS        7437            6
OTHER                            2884            2
CORRECTIONAL FACILITY            2270            2

In [7]:
140/df2.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum() #Recreational Fitness

0.04704301075268817

In [8]:
229/df2.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum() #Bars/Restaurants/Nightclubs

0.0769489247311828

# Period 3: July 19th, 2021 to September 22nd, 2021:

https://www.blogto.com/sports_play/2021/06/when-gyms-opening-in-ontario/
https://toronto.ctvnews.ca/ontario-gyms-are-finally-reopening-here-s-what-to-expect-on-your-next-visit-1.5509058 

### On November 7th, Peel Region and Ottawa gyms reopened, but Toronto did not. Ontario then went into a province wide lockdown banning gyms throughout the province on December 26th. Some areas reopened gyms earlier than others in the coming months. 

### Again, it's important to look at times in which gyms were open across the province. Otherwise the analysis is biased because it'll be skewed by gyms being open in anti-hotspot areas and closed in hotspot areas. 

### Gyms finally reopened province wide on July 16th, but City of Toronto pushed back their reopening date to July 19th. Vax Pass comes into force on Sept. 22.

In [9]:
df3 = df[(df['date'] >= '2021-07-16') & (df['date'] < '2021-09-22')].groupby('outbreak_subgroup').sum().sort_values(by='TOTAL_CASES', ascending=False)
df3

                                  _id  TOTAL_CASES
outbreak_subgroup
OTHER RECREATION               410629          614
WORKPLACE - OTHER              443274          469
BAR/RESTAURANT/NIGHTCLUB       416625          438
CHILD CARE                     442837          420
SCHOOL - ELEMENTARY            120661          302
LONG-TERM CARE HOME            396231          231
RETIREMENT HOME                247557          116
CAMP - DAY                     276327          104
RECREATIONAL FITNESS           250233          101
RETAIL                         328401           78
WORKPLACE - FARM               238821           76
HOSPITAL                       245533           67
SCHOOL - SECONDARY             106718           61
GROUP HOME/SUPPORTIVE HOUSING  240481           55
CONGREGATE OTHER               201714           54
SHELTER                        171284           42
SHORT-TERM ACCOMMODATIONS      135856           37
CORRECTIONAL FACILITY          119689           36
WORKPLACE - FOOD PROCESSING    150679           29
PERSONAL SERVICE SETTINGS       89755           24
SCHOOL - POST-SECONDARY         98614           18
MEDICAL/HEALTH SERVICE         103402           17
CAMP - OVERNIGHT                39682           11
SCHOOL - ELEMENTARY/SECONDARY   28589            7
UNKNOWN                         28442            5
CAMP - UNSPECIFIED              13696            2

In [10]:
103/df3.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum() #Recreational Fitness

0.03016988869361453

In [11]:
439/df3.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum() #Bars/Restaurants/Nightclubs

0.12858816637375511

# Period 4: September 22, 2021 to January 4th, 2022:

#### From the start of vax pass till this most recent closure:

In [12]:
df4 = df[(df['date'] >= '2021-09-22') & (df['date'] <= '2022-01-04')].groupby('outbreak_subgroup').sum().sort_values(by='TOTAL_CASES', ascending=False)
df4

                                  _id  TOTAL_CASES
outbreak_subgroup
SCHOOL - ELEMENTARY            808959         5719
LONG-TERM CARE HOME            662844         2474
WORKPLACE - OTHER              818364         1357
HOSPITAL                       712421          897
SCHOOL - SECONDARY             770608          866
OTHER RECREATION               792971          866
RECREATIONAL FITNESS           708756          829
RETIREMENT HOME                587125          816
CHILD CARE                     819782          709
GROUP HOME/SUPPORTIVE HOUSING  618669          678
CORRECTIONAL FACILITY          668369          646
BAR/RESTAURANT/NIGHTCLUB       762772          548
SHELTER                        566807          404
UNKNOWN                        674147          375
OTHER                          336866          264
RETAIL                         615317          208
CONGREGATE OTHER               487826          201
SCHOOL - ELEMENTARY/SECONDARY  554110          156
MEDICAL/HEALTH SERVICE         537050          154
WORKPLACE - FOOD PROCESSING    260525           81
SHORT-TERM ACCOMMODATIONS      284449           78
WORKPLACE - FARM               269121           65
SCHOOL - POST-SECONDARY        222520           50
PERSONAL SERVICE SETTINGS       40175            6
CAMP - UNSPECIFIED              26502            4

In [13]:
824/df4.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum() #Recreational Fitness

0.04465882607988727

In [14]:
542/df4.groupby('outbreak_subgroup').sum()['TOTAL_CASES'].sum() #Bars/Restaurants/Nightclubs

0.029375101620508375